body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
html {
    background-image: url('/bg/bg3.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;	
    background-color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    //background-color: red;
    //color: white;
    //text-align: center;
    padding: 6px 24px;
}

.footer-owo {
    text-align: left;
    color: white;
    text-shadow: 0 0 2px #000;
}

/* Phone */
@media (min-width:320px) {
    html {
        background-position: left center;
   }
}

/* Desktop */
@media (min-width:961px) {

}
