body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
html {
    background-image: url('/resources/backgrounds/bg3.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;	
    background-color: black;
}

#header {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
}

#left-panel,#right-panel, #left-panel >div ,#right-panel > div{
    height: 100%;
}

#right-panel {
	right: 0;
	top: 0;
	position: fixed;
	z-index: 50;
}

#right-nav {
    height: inherit;
    background: #0003;
    color: white;
    border-left: black ridge 2px;
    vertical-align: middle;
}

#center-panel {
    height: 100%;
}

.search-bar-row {
    border: black inset 2px;
}

.container {
    width: 70%
}

nav {
    height: 50px;
    line-height: 50px;
}

nav i.material-icons {
    height: 50px;
    line-height: 50px;
}

#login-div {
    /*! background: rgba(255, 255, 255, 0.55); */
    /*! border-bottom-left-radius: 15px; */
}

#profile-image {
    padding: 0.3rem 0.5rem;
}

.small-profile-image {
    width:48px;
    height:auto;
}

.margin-vertical-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    //background-color: red;
    //color: white;
    //text-align: center;
    padding: 6px 24px;
}

.footer-owo {
    text-align: left;
    color: white;
    text-shadow: 0 0 2px #000;
}

#owo-link {
    color: white;
}

/* Phone */
@media (min-width:300px) {
    html {
        background-position: left center;
   }
    
   .search-bar-row {
        border: black inset 1px;
    }
}

/* Desktop */
@media (min-width:961px) {

}