html {
    background: url('/bg/bg1.jpg') no-repeat center center fixed;
    //-webkit-background-size: cover;
    //-moz-background-size: cover;
    //-o-background-size: cover;
    //background-size: cover;
    background-repeat: no-repeat;
    background-color: dimgrey;
}

@media (min-width: 600px) and (orientation:landscape) {
    background-size: 100% auto; 
}

@media (min-height: 600px) and (orientation:portrait) {
    background-size: auto 100%; 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    //background-color: red;
    //color: white;
    //text-align: center;
    padding: 6px 24px;
}

.footer-owo {
    text-align: left;
    color: white;
}
