@import url("materializeOverwrite.css");
/**Colors**/
.--n-color-text {color: var(--n-color-text);}
.--n-color-text-d {color: var(--n-color-text-d);}
.--n-color-main {background: var(--n-color-main);}
.--n-color-main-t {background: var(--n-color-main-t);}
.--n-color-dark {background: var(--n-color-dark);}
.--n-color-dark-t {background: var(--n-color-dark-t);}
.--n-color-light {background: var(--n-color-light);}
.--n-color-light-t {background: var(--n-color-light-t);}
/**------**/

html, input {
    color: var(--n-color-text);
}

#header, .user-view {
    background-color: var(--n-color-dark-t);
    border-bottom-color: #26a69a4a;
    border-bottom-style: inset;
}

#main_div, #side-options-wrapper {
    background-color: var(--n-color-light-t);
}

.input-field > label {
    color: #c3c3c3;
}

body, .sidenav {
    background-image: url("./../resources/background.jpg");
    background-position: center;
    /*background-size: cover;*/
    overflow: hidden;
}

div {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.col .row {
    flex-direction: row;
}

.preloader-container {
    margin: auto;
    background: white;
    z-index: 9999;
    display:block;
}

.preloader-center {
    margin: auto;
    width: 100px;
    height: 100px;
    display: block;
}

.preloader-wrapper.big {
    width: 100px;
    height: 100px;
}

#header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
    min-height: auto;
}

.sidenav {
    background-color: var(--n-color-light-t);
}

.user-background {
    background-image: url('/resources/backgrounds/bg3.jpg');
    background-color: black;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
}

.name, .email {
    /* text-shadow: 0 0 2px #ee6e73; */
    text-shadow: 0 0 2px rgb(90, 15, 15, 0.9);
}

.nya-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nya-fs0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.flex-unset {
    flex-direction: unset;
}

.nya-dh100 {
    height: 100%;
}

.nya-vh100 {
    height: 100vh;
}

.nya-mr5 {
    margin-right: 5% !important;
}

.nya-ml28 {
    margin-left: 28% !important;
}

#tabs-wrapper {
    width: 100%;
}

.tabs {
    display: flex;
    background-color: initial;
}

.tabs .tab {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.list-scrollbar {
    overflow-y: scroll;
    display: block;
    margin-top: 30px;
}

.end-button-container {
    flex-grow: 1;
    justify-content: flex-end;
}

.tcgtitle {
    display: inline-block;
    padding-left: 2rem;
}

#card-editor {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.nya-sidenav {
    float: right;
    padding: 1rem 1rem 0rem 0rem;
}

.input-field {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

#toast-container {
    min-width: 10%;
    top: auto !important;
    bottom: 9%;
    right: 50%;
    transform: translateX(50%);
}

.footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/** Google **//*
#btn-sign-in-google {
    background-image: url('/resources/assets/google_signin_buttons/web/1x/btn_google_signin_dark_normal_web.png');
    background-size: 191px 46px;
    height: 46px;
    width: 191px;
    background-position: center;
    background-color: transparent;
    border-style: none;
}

    #btn-sign-in-google:hover {
        background-image: url('/resources/assets/google_signin_buttons/web/1x/btn_google_signin_dark_focus_web.png');
    }

    #btn-sign-in-google:active {
        background-image: url('/resources/assets/google_signin_buttons/web/1x/btn_google_signin_dark_pressed_web.png');
    }

    #btn-sign-in-google:disabled {
        background-image: url('/resources/assets/google_signin_buttons/web/1x/btn_google_signin_dark_disabled_web.png');
    }
*/
