/** testing **/
.message button { margin: 10px; width: 200px;}
/** :root Variables **/
/*#region*/
/* https://paletton.com/ */
:root {
  --font-size-extra: clamp(21px,3.6vmin,3.6vmin);
  --font-size-bigger: clamp(19px,3.1vmin,3.1vmin);
  --font-size-big: clamp(24px,2.8vmin,2.8vmin);
  --font-size-medium: clamp(17px,2.6vmin,2.6vmin);
  --font-size-small: clamp(16px,2.4vmin,2.4vmin);
  --font-family-body: "Times New Roman", Times, serif;
  --font-family-display: "Playfair Display", Playfair, serif;
}

:root {
  --color-text: #777;
  --color-text-alt: #999;
  --color-text-focus: var(--color-bg-alt);
  --color-bg: #1c1b22;
  --color-bg-alt: #000;
  --color-bg-hover: var(--color-text);
  --color-bg-focus: #555;
  --color-accent: var(--color-text);
  --brightness: 1.2;
  color-scheme: dark;
  --color-droplet: skyblue;
  --color-gradient-a: var(--color-bg-focus);
  --color-gradient-b: #211f27;
}

:root.theme_light {
  --color-text-alt: #27B6EC;
  --color-text: #8eabb7;
  --color-text-focus: var(--color-bg-alt);
  --color-bg: #1C576E;
  --color-bg-alt: #070F12;
  --color-bg-hover: var(--color-text);
  --color-bg-focus: #143440;
  --color-accent: var(--color-text);
  --brightness: 1.2;
  color-scheme: light;
  --color-droplet: #68bee0;
  --color-gradient-a: var(--color-bg-focus);
  --color-gradient-b: #1E7DA1;
}

:root.theme_new_blue {
  --color-text: #83a8b9;
  --color-text-alt: #488aa8;
  --color-text-focus: var(--color-bg-alt);
  --color-bg: #113C51;
  --color-bg-alt: #032536;
  --color-bg-hover: var(--color-text);
  --color-bg-focus: #27556C;
  --color-accent: var(--color-text);
  --brightness: 1.2;
  color-scheme: light;
  --color-droplet: #68bee0;
  --color-gradient-a: var(--color-bg-focus);
  --color-gradient-b: #477286;
}

:root.theme_new_darkblue {
  --color-text: #159BCE;
  --color-text-alt: #0078BF;
  --color-text-focus: var(--color-bg-alt);
  --color-bg: #043450;
  --color-bg-alt: #030D13;
  --color-bg-hover: var(--color-text);
  --color-bg-focus: #031A27;
  --color-accent: var(--color-text);
  --brightness: 1.2;
  color-scheme: light;
  --color-droplet: #68bee0;
  --color-gradient-a: var(--color-bg-focus);
  --color-gradient-b: #064C76;
}

:root.theme_new_deepblue {
  --color-text: #808b91;
  --color-text-alt: #075B8C;
  --color-text-focus: var(--color-bg-alt);
  --color-bg: #02111B;
  --color-bg-alt: #041D2D;
  --color-bg-hover: var(--color-text);
  --color-bg-focus: #04273c;
  --color-accent: var(--color-text);
  --brightness: 1.2;
  color-scheme: light;
  --color-droplet: #68bee0;
  --color-gradient-a: var(--color-bg-focus);
  --color-gradient-b: #022F49;
}

:root.theme_new_lightred {  
  --color-text: #956771;
  --color-text-alt: #BF4F68;
  --color-text-focus: var(--color-bg-alt);
  --color-bg: #FD9AAC;
  --color-bg-alt: #F3BBC7;
  --color-bg-hover: var(--color-text);
  --color-bg-focus: #F8D7DE;
  --color-accent: var(--color-text);
  --brightness: 1.2;
  color-scheme: light;
  --color-droplet: #68bee0;
  --color-gradient-a: var(--color-bg-focus);
  --color-gradient-b: #DB768C;
}

:root * {
  transition: background-color 0.3s linear, color 0.3s linear;
}
/*#endregion*/
/** Material Symbols @ Override **/
.material-symbols-outlined {
  position: relative;
  font-size: var(--font-size-big);
}
/** Standard Elements **/
/*#region*/
body {
  font-family: var(--font-family-body);
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  overflow: hidden;
  font-size: 16px;
}
h1, h2, h3 {
  font-family: var(--font-family-display);
  letter-spacing: clamp(1px,0.5vmin,0.5vmin);
  color: var(--color-text-alt);
}
h1 {
  /* font-size: clamp(21px,3.6vmin,3.6vmin); */
  font-size: var(--font-size-extra);
}
h2 {
  /* font-size: clamp(19px,3.1vmin,3.1vmin); */
  font-size: var(--font-size-bigger);
}
body, span, p, a, i {
  /* font-size: clamp(17px,2.6vmin,2.6vmin); */
  font-size: var(--font-size-medium);
}
.icon::after {
  /* font-size: clamp(24px,2.8vmin,2.8vmin); */
  font-size: var(--font-size-big);
}
*:focus {
  outline: none;
}
/*#endregion*/
/** Input **/
/*#region*/
input {
  color: var(--color-text);
  border: none;
  border-bottom: var(--color-accent) 1px outset;
  font-family: var(--font-family-body);
  font-size: var(--font-size-medium);
}
/*#endregion*/
/** Button **/
/*#region*/
button {
  min-height: 35px;
  position: relative;
  padding: 6px 10px;
  border-radius: 4px;
  border-style: hidden;
  font-size: var(--font-size-medium);
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--color-bg-alt);
  color: var(--color-text);
  overflow: hidden;
}

button:hover {
  cursor:pointer;
}

button:not(.not-default-hover):hover {
  background-color: var(--color-bg-focus);
  /* filter: brightness(var(--brightness)); */
  transition: all .70s ease-in-out;
  color: var(--color-text);
}
/* Replace :after? */
button:not(.not-default-active):after {
  content: "";
  display: block;
  position: absolute;
  opacity: 0;
  transition: all 0.7s;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-style: outset;
}
  
button:not(.not-default-active):active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.btn__label {
  position: relative;
  width: 100%;
  height: 100%;
}
/*#endregion*/
/** Toggle **/
/*#region*/
.toggle {
  position: relative;
  display: inline-flex;
  height: clamp(24px,2.8vmin,2.8vmin);
  aspect-ratio: 2/1;
}

.toggle input[type=checkbox] { 
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: var(--color-text) 1px solid;
  transition: .4s;
  border-radius: 999px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: calc(clamp(24px,2.8vmin,2.8vmin) - 20%);
  aspect-ratio: 1/1;
  background-color: var(--color-bg-focus);
  transition: .4s;
  border-radius: 50%;
  bottom: 8.3%;
  left: 4%;
}

input:checked + .toggle-slider {
  background-color: var(--color-text-alt);
}

input:checked + .toggle-slider:before {
  transform: translateX(125%);
}

/*#endregion*/
/** Toggle Theme JS **/
/*#region*/
.theme-selector:not(.theme_light) .icon::after {
  content: "dark_mode";
}
.theme-selector.theme_light .icon::after {
  content: "light_mode";
}

.theme-selector {  
  position: relative;
  cursor: pointer;
  user-select: none;
  display: inline-block;
}

/* Hide the browser's default checkbox */
.theme-selector input {  
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/*#endregion*/
/** Navigation Bar **/
/*#region*/
.nav-bar {
  display: flex;
  float: right;
  margin: auto 10px;
}

.nav-selected {
  content: "";
  opacity: 0;
  height: 0.5vh;
  position: absolute;
  width: 10vw;
  margin-top: 35px;
  left: 0;
  background-color: var(--color-accent);
  pointer-events: none;
  z-index: 5;
}

.nav-button {
  display: inline-block;
  padding: 8px 20px;
  letter-spacing: clamp(1px,0.3vmin,0.3vmin);
  /* text-decoration: none; */
  /* color: inherit; */
  /* cursor: pointer; */
  /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
}

@media only screen and (max-width: 600px) {
  .nav-bar > *:not(.nav-drawer) {
    display: none;
  }
}
/*#endregion*/
/** Navigation Drawer **/
/*#region*/
.nav-drawer{
  display: none;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-drawer-toggle {
  min-width: 44px;
}

.nav-drawer-toggle:not(.active) .icon::after {
  content: 'menu';
}
.nav-drawer-toggle.active .icon::after {
  content: 'close';
}

.nav-drawer-scrim {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
  display: none;
  background: linear-gradient(225deg, #000, #222);
}

.nav-drawer-scrim.active {
  display: block;
  animation: meow-scrim-in 0.7s forwards;
}

@keyframes meow-scrim-in {
  from { opacity: 0; display: none;}
  to { opacity: 0.4; display: block;}
}

.nav-drawer-contents {
  background-color: var(--color-bg-alt);
  position: absolute;
  top: 0;
  right: -30vw;
  height: 100vh;
  width: 30vw;
  min-width: 250px;
  z-index: 99;
  opacity: 0;
  border-left: var(--color-accent) 1px inset;
}

.nav-drawer-contents.inactive:not(.not-default-active){
  animation: meow-drawer-out 0.7s forwards;
}

.nav-drawer-contents.active:not(.not-default-active) {
  animation: meow-drawer-in 0.7s forwards;
}

@keyframes meow-drawer-in {
  from { opacity: 0; right: -30vw;}
  to { opacity: 1; right: 0;}
}
@keyframes meow-drawer-out {
  from { opacity: 1; right: 0;}
  to { opacity: 0; right: -30vw;}
}

.nav-drawer-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
  min-height: 45px;
}

.nav-drawer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-drawer-header {  
  height: clamp(150px, 20vh, 20vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 25px;
  background-color: var(--color-bg);
  border-top: 1px var(--color-accent) inset;
  border-bottom: 1px var(--color-accent) outset;
}

.nav-drawer-title::before {
  content: 'Menu';
  padding: 6px 25px;
  min-width: fit-content;
  font-size: clamp(17px,3vmin,3vmin);
  margin: auto 0;
  display: block;
}

.nav-drawer-items {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.nav-drawer-items > button, .nav-drawer-items > span {
  text-align: start;
}

.nav-drawer-items > button *:not(.divider), .nav-drawer-items > span  {  
  margin: auto 25px;
  padding: 10px 0px;
}

.nav-drawer-items > span {
  color:var(--color-text-alt);
}

.divider {  
  border-bottom: var(--color-accent) 1px outset;
  width: 100%;
  margin: 5px 0;
  display: block;
  padding: 0px;
}

@media only screen and (max-width: 600px) {
  .nav-drawer{
    display: flex;
  }
}
/*#endregion*/
/** **/
/*#region*/
/*#endregion*/