h1, h2, h3 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

.home-main-panel {
    background-color: #000;
    padding: 12px 30px;
    opacity: 0.60;
    position: absolute;
    bottom: 50px;
    right: 0;
    left: 0;
}

.contact-panel {
    display: block;
    background-color: silver;
    height: 100%;
    padding: 64px;
}

input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #777;
    width: 100%;
    background-color: transparent;
}

/* New CSS */

:root {
    --text-color: #777;
    --text-selected: whitesmoke;
    --bg-main-color: #111;
    --bg-sub-color: #000;
    --bg-main-color-25: rgba(17,17,17,0.25);
    --bg-main-hover: #333;
}

body {
    font-family: "Times New Roman", "Playfair Display",  Georgia, Serif;
    background-color: var(--bg-main-color);
    color: var(--text-color);
    margin: 0;
    overflow: hidden;
}

.background-image {
    /*background-image: url("https://images.unsplash.com/photo-1518791841217-8f162f1e1131");*/
    background-image: url("./../assets/background.jpg");
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: unset;
    background-color: black;
    transform: scaleX(-1);
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.intro-div {
    background-color: var(--bg-sub-color);
    position:absolute;
    z-index:100;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.intro-div span{
    font-size: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-clip-image {
    background-image: url("./../assets/background.jpg");
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: unset;
    background-color: black;
    position:absolute;
    z-index:105;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transform: scaleX(-1);
}

.background-clip { clip-path: polygon(7% 0%, 22% 0%, 33% 100%, 18% 100%); }
/*.background-clip { clip-path: polygon(78% 0, 93% 0, 82% 100%, 67% 100%);}*/
.background-clip-anim { animation: 1.5s polygon forwards; }

.fade-in-anim {
    opacity: 0;
    animation: fade-in 1s forwards;
}

.fade-out-anim {
    opacity: 0;
    animation: fade-out 2s forwards;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.full-size {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.top-panel {
    background-color: var(--bg-sub-color);
    letter-spacing: 2;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    min-height: 45px;
}

.logo {  
    display: inline-block;
    padding: 8px 16px;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    margin: auto 10px;
    color: inherit;
    /*clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);*/
}

.top-button {
    display: inline-block;
    padding: 8px 20px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }

.menu-headers {
    float: right;
    margin: auto 10px;
}

.bottom-panel {
    background-color: var(--bg-sub-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 45px;
}

.bottom-panel-text {
    margin: auto 50px;
    text-align: end;
}

.contents {
    /*background-color: darkorchid;*/
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contents-clip {
    /*clip-path: polygon(82% 100%, 93% 0, 100% 0, 100% 100%, 0 100%, 0 0, 78% 0, 67% 100%);*/
    clip-path: polygon(82% 100%, 93% 0, 100% 0, 100% 100%, 0 100%, 0 0, 78% 0, 67% 100%);
}

.message {  
    margin: 10% 30% auto 10%;
}

.contents-lower-panel {
    background-color: var(--bg-sub-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 90px;
    /*padding: 0 50px;*/
    opacity: 0.6;
    justify-content: center;
}

.contents-lower-panel h1 {
    margin: 0 50px;
}


.bg-main-hover:hover {
    background-color: var(--bg-main-hover);
}

@keyframes polygon {
    /* 0% { clip-path: (107% 100%, 122% 100%, 133% 100%, 118% 100%);} */
    /*0% { clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);}*/
    /*80% { clip-path: polygon(-10% 0%, 0% 0%, -25% 100%, -35% 100%); }*/
    /*100% { clip-path: polygon(125% 0%, 135% 0%, 110% 100%, 100% 100%); }*/
    0% { clip-path: polygon(107% 0%, 122% 0%, 133% 100%, 118% 100%);}
    50% { clip-path: polygon(107% 0%, 122% 0%, 133% 100%, 118% 100%);}
    100% { clip-path: polygon(7% 0%, 22% 0%, 33% 100%, 18% 100%);}
}
@keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
@keyframes fade-out {
    0% { opacity: 1;}
    75% { opacity: 1;}
    99% { opacity: 0; height: 100%; width: 100%;}
    100% { opacity: 0; height: 0; width: 0;}
}

@media only screen and (max-width: 850px) {
    /* TODO: Tablet Portrait Mode */
    /* @media (min-aspect-ratio: 4/3) ?? */
    @media only screen and (min-height: 750px) {
        .background-clip { clip-path: polygon(7% 0%, 22% 0%, 33% 100%, 18% 100%); }
        @keyframes polygon {
            0% { clip-path: polygon(107% 0%, 122% 0%, 133% 100%, 118% 100%);}
            50% { clip-path: polygon(107% 0%, 122% 0%, 133% 100%, 118% 100%);}
            100% { clip-path: polygon(7% 0%, 22% 0%, 33% 100%, 18% 100%);}
        }
    }
}

@media only screen and (max-width: 600px) {
    .fade-in-anim {
        transform: translateX(+40%) translateY(+30%);
        writing-mode: sideways-lr;
    }

    /*polygon(55% 0%, 90% 0%, 65% 100%, 30% 100%)*/
    .background-clip { 
        clip-path: polygon(55% 0%, 90% 0%, 65% 100%, 30% 100%);
    }

    .contents-clip {
        clip-path: none;
    }

    .message { 
         margin: 5% 2% auto 55%;
    }

    .contents-lower-panel h1 {
        margin: 0 25px;
    }

    .bottom-panel-text {
        margin: auto 25px;
    }

    @keyframes polygon {
        0% { clip-path: polygon(-7% 0%, -22% 0%, -33% 100%, -18% 100%);}
        50% { clip-path: polygon(-7% 0%, -22% 0%, -33% 100%, -18% 100%);}
        100% { clip-path: polygon(55% 0%, 90% 0%, 65% 100%, 30% 100%);}
    }
}