@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('/resources/backgrounds/bg2.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.display-container{
	position:relative;
}

.animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}

.text-white{
	color:#ffffff;
}

.center{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
}

.barcode{
	font-family:'Libre Barcode 39 Text', cursive;
}

.parent{
	display: flex;
  	justify-content: center;
}
 
.parent-buttons{
	display:table;
	width:100%;	
}

.item{
	width:105px;	
	margin: 10px;	
}

.item{
	text-align: center;
	font-size: 1.5em;
	color:#ffffff;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	border:none;
}

#clock{
	font-size: 3em;
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 300;
}

.separator{
	height:5vh;
}

.searchfield {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;    
    display: block;
    height: 25px;
    margin: 10px auto;
    padding: 5px 0 5px 10px;
    width: 100%;    
    outline: none;
	border: inset;
    border-width: 1px;	
	/*Tamaño cuadro de busqueda*/
	box-sizing:initial;
}

.top{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.top-item{
    float: right;
    padding-left: 10px;
    cursor: pointer;
}
.top-item span{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    display: block;
    text-align: center;
    text-decoration: none;
}

#footer{
	width: 100%;
}

/*Ajuste en caso de pantallas de entre 2000-2010*/
@media screen and (max-width: 1400px){
	.parent-buttons{
		width:113%;
		transform:translate(-5%,0%);
	}
}

/*Ajuste en caso de Smartphone*/
@media screen and (max-width: 800px){
	.parent-buttons{
		width:100%;
		transform:translate(0%,0%);
	}
	.item{
		margin:11.5px;
	}
}
